{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "browser": false,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 0
  }
}
